.row{
    padding-top: 15px;
    padding-bottom: 15px;
}

.header{
	background: black;
	color: white;
	padding: 20px 50px;
	text-align: justify;
    text-justify: inter-word;
}

.wrapper{
    position: relative;
    overflow: hidden;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    width: 80%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    background-color: transparent;
}

/* BEGIN BOOK*/
.book:hover .image {
    opacity: 0.5;
}

.book:hover .middle {
    opacity: 1;
}

.book:hover .zoom_out {
    transform: scale(1, 1);
}

.book:hover .slower {
    transform: scale(1, 1) rotate(0deg);
}

.book:hover .book-gender {
    transform: rotate(0deg) translate(0px,0px);
}

.zoom_out{
    display: block;
    color: #fff;
    transform: scale(5, 5);
    transition: all .5s ease;
    transition-duration: 1s;
    transition-delay: 0.3s;
}
.slower{
    transform: scale(0.1, 0.1) rotate(180deg);
    transition-delay: 0.9s;
}

.book-gender{
    transform: translate(40px,40px) rotate(-90deg);
    transition-delay: 0.3s;
    transition-duration: 1s;
}

/* END BOOK*/

/* BEGIN MOVIE*/
.movie:hover .image {
    opacity: 0.5;
}

.movie:hover .middle {
    opacity: 1;
}

.movie:hover .zoom_out {
    transform: scale(1, 1);
}

.movie:hover .slower {
    transform: scale(1, 1) rotate(0deg);
}

.movie:hover .movie-gender {
    transform: translate(0px, 0px) translate(0px, 0px);
}

.movie-gender{
    display: block;
    color: #fff;
    transform: scale(5, 5) translate(156px, 40px);
    transition: all ease;
    transition-duration: 1s;
    transition-delay: 0.3s;
}

