<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C4E8 HACKATHON</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 wrapper book">
                <img class="image" src="../static/images/book.jpg" alt="book">
                <div class="middle">
                    <div class="text">
                        <h3 class="affect">Click here to read a amazing book</h3>
                        <h3 class="affect slower">Or you can chose a genre</h3>
                        <div class="dropdown gender">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Genre
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Anime</a></li>
                                <li><a href="#">Poem</a></li>
                                <li><a href="#">Culture</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 wrapper">
                <img class="image" src="../static/images/book.jpg" alt="book">

            </div>

        </div>
    </div>



    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>