<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C4E8 HACKATHON</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>

<div class="container-fluid header">
    <h1>hiddenpassion.com là trang web đơn giản nhất giúp bạn tìm tòi và khám phá thế giới âm nhạc, phim ảnh, sách truyện và những kênh giáo dục cũng như giải trí lớn nhất youtube</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 wrapper book">
            <img class="image" src="../static/images/book.jpg" alt="book">
            <div class="middle">
                <div class="text">
                    <a class="zoom_out" href="#"><h3 >Click here to read an amazing book</h3></a>
                    <h3 class="zoom_out slower">Or you can chose a genre</h3>
                    <div class="dropdown book-gender">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Genre
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Anime</a></li>
                            <li><a href="#">Poem</a></li>
                            <li><a href="#">Culture</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 wrapper movie">
            <img class="image" src="../static/images/movie.jpg" alt="movie">
            <div class="middle">
                <div class="text">
                    <a class="zoom_out" href="#"><h3 >Click here to watch a fantastic film</h3></a>
                    <h3 class="zoom_out">Or you can chose a genre</h3>
                    <div class="dropdown zoom_out movie-gender">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Genre
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Hành động</a></li>
                            <li><a href="#">Hài hước</a></li>
                            <li><a href="#">Tình cảm</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 wrapper book">
            <img class="image" src="../static/images/music.jpg" alt="book">
            <div class="middle">
                <div class="text">
                    <a class="zoom_out" href="#"><h3 >Click here to read an amazing book</h3></a>
                    <h3 class="zoom_out slower">Or you can chose a genre</h3>
                    <div class="dropdown book-gender">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Genre
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Anime</a></li>
                            <li><a href="#">Poem</a></li>
                            <li><a href="#">Culture</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 wrapper movie">
            <img class="image" src="../static/images/clip.jpg" alt="movie">
            <div class="middle">
                <div class="text">
                    <a class="zoom_out" href="#"><h3 >Click here to watch a fantastic film</h3></a>
                    <h3 class="zoom_out">Or you can chose a genre</h3>
                    <div class="dropdown zoom_out movie-gender">
                        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Genre
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Hành động</a></li>
                            <li><a href="#">Hài hước</a></li>
                            <li><a href="#">Tình cảm</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>